# Ignore a blackhole and the folder for development
node_modules/
.vs/
.idea/
*.iml
docs/

# Build code
dist/

# Ignore heapsnapshot and log files
*.heapsnapshot
*.log

# Ignore package locks
.eslintcache

# yarn v2
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*